<div class="container ms-5 mt-5">
    <div class="row">
      <div class="col-8">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
      
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of entries; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ entry.name }}</td>
              <td>{{ entry.address }}</td>
           
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>